<% if assignment.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% assignment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [course, assignment] do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>
  <br>
   <%= f.radio_button :difficulty, "easy" %>Easy
   <%= f.radio_button :difficulty, "medium" %>Medium
   <%= f.radio_button :difficulty, "hard" %>Hard
  </br>
  <%= f.hidden_field :course_id, value: course.id %>
  <%= f.hidden_field :created_on, value: Date.today %>
  </br>
  <%= f.submit %>
<% end %>
