<% if submission.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% submission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Submit your assignment!</h1>
<h3><%= @submission.assignment.title %></h3>
<p><%= form_for [assignment, submission] do |s| %>
  <%= s.label :content, "Answer"%>:
  <%= s.text_field :content %>

  <%= s.hidden_field :user_id, value: current_user.id %><br>
  <%= s.hidden_field :assignment_id, value: assignment.id %>
  </br>
  <%= s.submit "Submit" %>
  <%end%></p>

  <div class="submissions">
  <div id="assignment-submission-form">
    <%=form_for([@assignment, @submission], :url => '/submissions/new', :html => { :id => "new_assignment_submission"})do |f|%>       
      <%= f.hidden_field :assignment_id, :value => @assignment.id %>  
      <%= f.label :content%> 
      <%= f.text_field :content, class: "form_fields"%>  
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <br>  
      <br>   
      <button id="submit-this-assignment">Submit!</button>  
    <%end%>
  </div>
</div>
