<h1>Submit your assignment!</h1>
<%= form_for @submission do |s| %>
  <%= s.label :content %>:
  <%= s.text_field :content %>

  <%= s.hidden_field :user_id, value: current_user.id %><br>

  </br>
  <%= s.submit %>
  <%end%>