<h1>Submit your assignment!</h1>
<h3><%= @submission.assignment.title %></h3>
<p><%= form_for [assignment, submission] do |s| %>
  <%= s.label :content, "Answer"%>:
  <%= s.text_field :content %>

  <%= s.hidden_field :user_id, value: current_user.id %><br>
  <%= s.hidden_field :assignment_id, value: assignment.id %>
  </br>
  <%= s.submit "Submit" %>
  <%end%></p>