<h1><%= @course.title %></h1>
<p>Description: <%= @course.description %></p>
</br>
<p>Created On: <%= @course.created_on.strftime("%B %e, %Y") %></p>
<%= link_to "Add an Assignment", new_assignment_path %>
<p>Assignments: <%= @course.assignments.each do |a|%>
            <%= link_to "a.title", assignment_path(a)%>
            <% end %>
</p>
<p>
<% if @course.user == current_user %>
<%= link_to "Edit", edit_course_path(@course) %><br />
<%= link_to "Delete", @course, method: :delete %>
<% end %>
</p>






