
<h1><%= @course.title %></h1>
<p>Description: <%= @course.description %></p>
<p>Created By: <%= @course.created_by %></p>
<p>Created On: <%= @course.created_on %></p>
<% if @course.created_by == current_user %>
<%= link_to "Edit", edit_course_path(@course) %><br />
<%= link_to "Delete", @course, method: :delete %>
<% end %>







