<h1><%= @course.title.upcase %></h1>
<h2><%= @course.description %></h2>
</br>

<button id='show-assignments' data-id=' <%= @course.id %>'>Show Assignments</button>
<div id="assignments"></div>

<% if @course.assignments.length > 0 %>
  <h4>Assignments (sorted by difficulty):</h4> 
  <p>Easy:
  <p><% @course.assignments.easy.each do |a|%>
          <%= link_to a.title.capitalize, course_assignment_path(a.course_id, a.id)%></br></p>
  <% end %>
  <p>Medium:
  <p><% @course.assignments.medium.each do |a|%>
            <%= link_to a.title.capitalize, course_assignment_path(a.course_id, a.id)%></br></p>
  <% end %>
  <p>Hard:
  <p><% @course.assignments.hard.each do |a|%>
          <%= link_to a.title.capitalize, course_assignment_path(a.course_id, a.id)%></br></p>
  <% end %>
    <% else %>
      <p> This course doesn't have any assignments yet. </p>
    <%end%>
</br>
</br>
<% if @course.creator == current_user %>
  <%= link_to "Add an Assignment", new_course_assignment_path(@course) %></p>
<%end%>
</br>
</br>

<p>Created On: <%= @course.created_on.strftime("%B %e, %Y") %></p>


<p>
<% if @course.creator == current_user %>
  <%= link_to "Edit this Course", edit_user_course_path(@user, @course) %></p>
  <%= link_to "Delete this Course", user_course_path(@user, @course) %></p>
  <%= link_to "Back to My Courses", user_courses_path(@user) %></p>
<% end %>
</p>

<%= link_to "View All Courses", courses_path %>






